---
---

@media (min-width: 1200px)
  .container
    max-width: 960px

body  
  color: #303336
  background-color: #FFF
  font-family: 'Roboto Slab', Georgia, serif
  font-size: 16px
  line-height: 25px
  -webkit-font-smoothing: antialiased

a
  color: #2F80ED

h1, h2, h3, h4, .navbar, .postMeta
  font-family: 'Avenir', -apple-system, 'Helvetica Neue', sans-serif
  font-weight: 500 !important

h1, h2, h3, h4, strong
  font-weight: 900 !important

h1, h2, h3, h4 
  a 
    color: #303336
    text-decoration: underline

h1
  font-size: 42px
  line-height: 50px
  margin-bottom: 25px

h2
  font-size: 24px
  line-height: 30px
  margin: 50px 0 25px

h3
  font-size: 16px
  line-height: 25px
  margin-bottom: 10px

h4
  font-size: 16px
  line-height: 25px
  margin-bottom: 0

p
  margin-bottom: 25px

ol, ul
  padding-left: 17px
  margin-bottom: 25px

li
  margin-bottom: 10px

footer
  margin-top: 100px

.demphasis
  color: #9299A4

.arrow::after, .arrow-right::after
  content: '›'
  pointer-events: none
  display: inline-block
  margin-left: 0.25em
  transition: transform 150ms cubic-bezier(0.4, 0, 0.6, 1)

.alert-banner
  background-color: #303336
  color: #fff
  border: 0
  border-radius: none
  margin-bottom: 0
  a
    color: #fff
    text-decoration: underline

// NAV BAR
.navbar
  margin-bottom: 100px
  border-bottom: 1px solid #DFE1E4
  padding: 0
  height: 50px

.bg-light
  background-color: #FFF !important

.navbar-light .navbar-nav .nav-link
  color: #9299A4

#apply-message
  position: relative
  top: 1px

// BANNER

.alert-primary
  background-color: #EAF2FD
  border-color: #D5E6FB
  color: #303336

// HOME
#index
  margin-top: -50px
  .hero-img
    margin: 0 0 50px
  .personThumbnail
    margin-bottom: 10px
    width: 130px
  .alert-primary
    margin-top: -75px
    margin-bottom: 50px


// BLOG LIST
.postList

  h2
    margin-bottom: 5px

    a
      color: #303336
      text-decoration: none

  li
    padding-bottom: 25px 
    margin-bottom: 50px
    border-bottom: 1px solid #DFE1E4

  .postMeta
    margin-bottom: 10px

// BLOG POST
img.expanded
  width: 140%
  margin-left: -20%

.post-title h1
  margin-bottom: 10px

// COMPANIES
.companyThumbnail
  margin-bottom: 10px

.companyDescription
  margin-bottom: 25px

// TEAM
.personTitle
  margin-bottom: 10px