---
layout: static
title: "Companies"
w21: 
  1export:
    name: "1Export"
    url: "https://1export.net/"
    description: "Helping businesses go global."
    image: /assets/companies/1export-logo.png
  coderschool: 
    name: "CoderSchool"
    url: "https://www.coderschool.vn/en/"
    description: "Scalable coding education in Southeast Asia."
    image: /assets/companies/coderschool-logo.png 
  duoria: 
    name: "Duoria"
    url: "http://duoria.com/"
    description: "Pinduoduo for experiences."
    image: /assets/companies/duoria-logo.png 
  ferne_health: 
    name: "Ferne Health"
    url: "https://www.fernehealth.com/"
    description: "At-home screening services for sexual health."
    image: /assets/companies/ferne-health-logo.png 
  go_zayaan: 
    name: "Go Zayaan"
    url: "https://www.gozayaan.com/"
    description: "Moving travel online in Bangladesh."
    image: /assets/companies/go-zayaan-logo.png 
  spenmo: 
    name: "Spenmo"
    url: "https://spenmo.com/"
    description: "Bill.com for SMBs in SE Asia."
    image: /assets/companies/spenmo-logo.png 
  string_soul: 
    name: "String Soul"
    url: "https://stringsoul.co/"
    description: "Remote music lessons for kids."
    image: /assets/companies/string-soul-logo.png 
s20: 
  become:
    name: "Become"
    url: "https://become.my/"
    description: "Transforming cosmetic dentistry with affordable, convenient teeth straightening."
    image: /assets/companies/become-logo.png
  bungkus: 
    name: "Bungkus"
    url: "https://www.bungkus.sg/"
    description: "Halal-only food delivery platform."
    image: /assets/companies/bungkus-logo.png 
  haulio: 
    name: "Haulio"
    url: "https://www.haulio.io/"
    description: "Singapore's largest digital container haulage network."
    image: /assets/companies/haulio-logo.png 
  outside_voice: 
    name: "Outside Voice"
    url: "https://www.outsidevoice.io/"
    description: "Structured data collection via WhatsApp."
    image: /assets/companies/outside-voice-logo.png 
  propseller:
    name: "Propseller"
    url: "https://propseller.com//"
    description: "Tech-powered real estate agency."
    image: /assets/companies/propseller-logo.png 
  sendhelper: 
    name: "Sendhelper"
    url: "https://www.sendhelper.com/"
    description: "Services platform for household chores."
    image: /assets/companies/sendhelper-logo.png 
  starboard: 
    name: "Starboard"
    url: "https://www.starboardhq.com//"
    description: "Digitizing corporate secretary firms."
    image: /assets/companies/starboard-logo.png 
  tendopay: 
    name: "TendoPay"
    url: "https://tendopay.ph/"
    description: "Installment shopping for the Philippines."
    image: /assets/companies/tendopay-logo.png 
capital:
  allure_systems: 
    name: "Allure Systems"
    url: "https://www.alluresystems.com//"
    description: "A.I. to create stunning fashion images for eCommerce."
    image: /assets/companies/allure-systems-logo.png 
  cottage: 
    name: "Cottage"
    url: "https://www.cotta.ge/"
    description: "The smart way to build a custom ADU."
    image: /assets/companies/cottage-logo.png 
  digi_prex: 
    name: "Digi-Prex"
    url: "https://www.digi-prex.com/"
    description: "Subscription pharmacy for patients with chronic diseases."
    image: /assets/companies/digi-prex-logo.png 
  encellin: 
    name: "Encellin"
    url: "http://www.encellin.com/"
    description: "Helping cells survive in the body, starting with Type 1 diabetes."
    image: /assets/companies/encellin-logo.png 
  epic-aerospace: 
    name: "Epic Aerospace"
    url: "http://epic-aerospace.com/"
    description: "Last-mile delivery for satellites."
    image: /assets/companies/epic-aerospace-logo.png 
  flat: 
    name: "Flat"
    url: "https://flat.mx/"
    description: "Instant offers to home sellers in Mexico."
    image: /assets/companies/flat-logo.png 
  homebase: 
    name: "Homebase"
    url: "https://homebase.com.vn/"
    description: "Real estate financing in Vietnam"
    image: /assets/companies/homebase-logo.png 
  invisible_commerce: 
    name: "Invisible Commerce"
    url: "https://www.invisiblecommerce.com/"
    description: "Transforming micro-influence into revenue through curated commerce."
    image: /assets/companies/invisible-commerce-logo.png 
  jenfi: 
    name: "Jenfi"
    url: "http://jenfi.com/"
    description: "Small business lending based on revenue."
    image: /assets/companies/jenfi-logo.png 
  nuo: 
    name: "Nuo"
    url: "https://www.nuo.network/"
    description: "The non-custodial way to lend, borrow or margin trade crypto /assets."
    image: /assets/companies/nuo-logo.png 
  loop_health: 
    name: "Loop Health"
    url: "https://www.loophealth.com/"
    description: "Modern comprehensive health insurance plan for employees in India."
    image: /assets/companies/loop-health-logo.png 
  lumineye: 
    name: "Lumineye"
    url: "https://lumineye.com/"
    description: "X-ray vision for first responders."
    image: /assets/companies/lumineye-logo.png 
  mercury: 
    name: "Mercury"
    url: "https://mercury.com/"
    description: "Banking built for startups."
    image: /assets/companies/mercury-logo.png 
  modus: 
    name: "Modus"
    url: "https://www.modusclosing.com/"
    description: "Simplified home closings."
    image: /assets/companies/modus-logo.png 
  moons: 
    name: "Moons"
    url: "https://mymoons.mx/"
    description: "High quality orthodontics in LATAM at accessible prices."
    image: /assets/companies/moons-logo.png 
  interprime: 
    name: "InterPrime"
    url: "https://www.interprime.co/"
    description: "Safe and secure cash management for businesses."
    image: /assets/companies/interprime-logo.png 
  prizepool: 
    name: "Prizepool"
    url: "https://getprizepool.com/"
    description: "Win cash prizes by simply saving money every"
    image: /assets/companies/prizepool-logo.png 
  proper: 
    name: "Proper"
    url: "https://www.proper.ai/"
    description: "Property management bookkeeping."
    image: /assets/companies/proper-logo.png 
  valiu: 
    name: "Valiu"
    url: "https://www.valiu.com/en"
    description: "The safest way to send and save money in Venezuela."
    image: /assets/companies/valiu-logo.png 
  welcome: 
    name: "Welcome"
    url: "https://www.experiencewelcome.com/"
    description: "Create jaw dropping virtual events."
    image: /assets/companies/welcome-logo.png 
  withclutch: 
    name: "WithClutch"
    url: "https://www.withclutch.com/"
    description: "Refinance your car loan in less than 2 minutes."
    image: /assets/companies/withclutch-logo.png 
  xor: 
    name: "XOR"
    url: "https://www.xor.ai/"
    description: "Modern recruiting platform"
    image: /assets/companies/xor-logo.png 

---

<div class="row justify-content-center">
  <div class="col-lg-8 col-md-12">
    <h1 class="text-center">{{page.title}}</h1>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-lg-8 col-md-12">
    <h2 class="text-center">Winter 2021</h2>
  </div>
</div>

{% for company in page.w21%}
  {% assign mod = forloop.index | modulo: 4 %}
  {% if mod == 1 %}
    <div class="row">
  {% endif %}
    {% assign company = company %}
    {% include company_tile.html company = company %}
  {% if mod == 0 %}
    </div>
  {% endif %}
{% endfor %}

</div>

<div class="row justify-content-center">
  <div class="col-lg-8 col-md-12">
    <h2 class="text-center">Summer 2020</h2>
  </div>
</div>

{% for company in page.s20%}
  {% assign mod = forloop.index | modulo: 4 %}
  {% if mod == 1 %}
    <div class="row">
  {% endif %}
    {% assign company = company %}
    {% include company_tile.html company = company %}
  {% if mod == 0 %}
    </div>
  {% endif %}
{% endfor %}

<div class="row justify-content-center">
  <div class="col-lg-8 col-md-12">
    <h2 class="text-center">Iterative Capital</h2>
  </div>
</div>

{% for company in page.capital %}
  {% assign mod = forloop.index | modulo: 4 %}
  {% if mod == 1 %}
    <div class="row">
  {% endif %}
    {% assign company = company %}
    {% include company_tile.html company = company %}
  {% if mod == 0 %}
    </div>
  {% endif %}
{% endfor %}