---
title: "Home"
layout: default
accelerator: 
  sendhelper: 
    name: "Sendhelper"
    url: "https://www.sendhelper.com/"
    description: "Services platform for household chores."
    image: /assets/companies/sendhelper-logo.png 
  tendopay: 
    name: "TendoPay"
    url: "https://tendopay.ph/"
    description: "Installment shopping for the Philippines."
    image: /assets/companies/tendopay-logo.png 
  haulio: 
    name: "Haulio"
    url: "https://www.haulio.io/"
    description: "Singapore's largest digital container haulage network."
    image: /assets/companies/haulio-logo.png 
  become:
    name: "Become"
    url: "https://become.my/"
    description: "Transforming cosmetic dentistry with affordable, convenient teeth straightening."
    image: /assets/companies/become-logo.png
team: 
  brian:
    name: "Brian Ma"
    linkedin: "https://www.linkedin.com/in/zealoustiger/"
    title: "Founder, General Partner"
    bio: "Brian was previously the Co-Founder and CEO of Divvy Homes (a16z, GIC). In 2014, he and Elpizo Choi started Weave (YCS14). In 2009, he started Decide.com an early machine learning company that predicted the future price of consumer goods. It was acquired by eBay in 2013. In 2005, he was one of the first PMs at Zillow before they launched. Brian has a BS in Computer Science and Electrical Engineering from the University of Washington."
    image: /assets/team/brian-ma.jpg
  hsu_ken:
    name: "Hsu Ken Ooi"
    linkedin: "https://www.linkedin.com/in/hsukenooi/"
    title: "Founder, General Partner"
    bio: "Hsu Ken was previously the Chief Product Officer of Workmate, an on-demand blue collar staffing platform in Southeast Asia. In 2014, he was VP of Product at Weave (YCS14). In 2009, he started Decide.com an early machine learning company that predicted the future price of consumer goods. It was acquired by eBay in 2013. Hsu Ken has a BS in Mathematics and Statistics from the University of Washington."
    image: /assets/team/hsu-ken-ooi.jpg
---

<div class="row">
  <div class="col-6">
    <h1>Founders Supporting Founders</h1>
    <p>We invest US $150K in a batch of startups, twice a year. Upon admission, we invest the full amount then work with the founders closely on their idea for 3 months. After 3 months, they present to a select group of investors with the goal of raising a larger round of investment.</p>
    <p><b><a href="about" class="arrow">Learn more</a></b></p>
	</div>
  <div class="col-6">
    <img src="/assets/zoom-hero.jpg" class="img-fluid hero-img">
  </div>
</div>

<!-- COMPANIES -->
<div class="row">
  <div class="col-12">
    <h2>Companies</h2>
  </div>
</div>
<div class="row">
  {% for company in page.accelerator %}
    {% include company_tile.html company = company %}
  {% endfor %}
</div>
<div class="row">
  <div class="col-12">
    <p><b><a href="companies" class="arrow">See all the companies</a></b></p>
  </div>
</div>

<!-- TEAM -->
<div class="row">
  <div class="col-12">
    <h2>Team</h2>
  </div>
</div>

<div class="row">
  {% for person in page.team %}
    <div class="col-6">
      {% assign personThumbnail = site.base_url | append: person[1].image %}
      <a href="{{person[1].linkedin}}" target="_blank"><img class="personThumbnail img-fluid" src={{personThumbnail}} /></a>
      <h4 class="personName"><a href="{{person[1].linkedin}}" target="_blank">{{person[1].name}}</a></h4>
      <p class="personTitle">{{person[1].title}}</p>
      <p class="personBio">{{person[1].bio}}</p>
    </div>
  {% endfor %}
</div>

<div class="row justify-content-center">
  <div class="col-12">
    <p><b><a href="team" class="arrow">See the entire team</a></b></p>
  </div>
</div>
