---
layout: default
accelerator: 
  become:
    name: "Become"
    url: "https://become.my/"
    description: "Transforming cosmetic dentistry with affordable, convenient teeth straightening."
    image: /assets/companies/become-logo.png
  bungkus: 
    name: "Bungkus"
    url: "https://www.bungkus.sg/"
    description: "Halal-only food delivery platform."
    image: /assets/companies/bungkus-logo.png 
  haulio: 
    name: "Haulio"
    url: "https://www.haulio.io/"
    description: "Singapore's largest digital container haulage network."
    image: /assets/companies/haulio-logo.png 
  outside_voice: 
    name: "Outside Voice"
    url: "https://www.outsidevoice.io/"
    description: "Structured data collection via WhatsApp."
    image: /assets/companies/outside-voice-logo.png 
team: 
  brian:
    name: "Brian Ma"
    linkedin: "https://www.linkedin.com/in/zealoustiger/"
    title: "Founder, General Partner"
    bio: "Brian was previously the Co-Founder and CEO of Divvy Homes (a16z, GIC). In 2014, he and Elpizo Choi started Weave (YCS14). In 2009, he started Decide.com an early machine learning company that predicted the future price of consumer goods. It was acquired by eBay in 2013. In 2005, he was one of the first PMs at Zillow before they launched. Brian has a BS in Computer Science and Electrical Engineering from the University of Washington."
    image: /assets/team/brian-ma.jpg
  hsu-ken:
    name: "Hsu Ken Ooi"
    linkedin: "https://www.linkedin.com/in/hsukenooi/"
    title: "Founder, General Partner"
    bio: "Hsu Ken was previously the Chief Product Officer of Workmate, an on-demand blue collar staffing platform in Southeast Asia. In 2014, he was VP of Product at Weave (YCS14). In 2009, he started Decide.com an early machine learning company that predicted the future price of consumer goods. It was acquired by eBay in 2013. Hsu Ken has a BS in Mathematics and Statistics from the University of Washington."
    image: /assets/team/hsu-ken-ooi.jpg
---

<div class="row justify-content-center">
  <div class="col-12">
  	<img src="{{site.base_url}}/assets/singapore-street.jpg" class="img-fluid hero-img">
  </div>
 </div>

<div class="row justify-content-center">
  <div class="col-lg-8 col-md-12">
    <h1 class="text-center">Seed Funding for Early Stage Startups</h1>
    <p>We invest US$150K in batches twice a year. Upon admission, we invest the full amount upfront then work with the founders closely on their idea for 3 months. At the end of the 3 months, they present to a select group of investors with the goal of raising a larger round of investment.</p>
    <p>After that, we and the alumni network continue to help the startups and founders for the lifetime of the startup and often much longer.</p>
	</div>
</div>

<!-- COMPANIES -->
<div class="row justify-content-center">
  <div class="col-lg-8 col-md-12">
    <h2>Companies</h2>
  </div>
</div>
<div class="row">
  {% for company in page.accelerator %}
    {% assign company = company %}
    {% include company_tile.html company = company %}
  {% endfor %}
</div>
<div class="row justify-content-center">
  <div class="col-lg-8 col-md-12">
    <p><a href="team">See all the companies</a> who have gone through the program.</p>
  </div>
</div>

<!-- TEAM -->
<div class="row justify-content-center">
  <div class="col-lg-8 col-md-12">
    <h2>Team</h2>
  </div>
</div>

{% for person in page.team %}
  {% assign person = person %}
  {% include person_tile.html person = person %}
{% endfor %}

<div class="row justify-content-center">
  <div class="col-lg-8 col-md-12">
    <p><a href="team">See the entire team</a> that includes founders who have sold companies to eBay, Apple and more.</p>
  </div>
</div>