<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="{{site.baseurl}}/assets/iterative-logo-nav.png" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{{site.baseurl}}/about.html">About</a>
        <a class="nav-item nav-link" href="{{site.baseurl}}/companies.html">Companies</a>
        <a class="nav-item nav-link" href="{{site.baseurl}}/team.html">Team</a>
        <a class="nav-item nav-link" href="{{site.baseurl}}/blog.html">Blog</a>
      </div>
    </div>
    <div class="float-right">
      <span id="apply-message">Apply for Jan 2021</span>
      <a class="btn btn-primary btn-sm" href={{site.apply_url}}>Apply</a>
    </div>
  </nav>
</div>